name: CI Production Build

on:
  push:
    branches:
      - mesh

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python ##install latest version of python
        uses: actions/setup-python@v2

      - name: Install PlatformIO
        run: |
          python -m pip install --upgrade pip
          sudo pip install platformio

      - name: Install PlatformIO Libraries
        run: sudo pio lib install

      - name: Run PlatformIO
        run: ./flash.sh compile

      - name: Archive Firmware
        run: |
          ls .pio/build/compile/.
          mkdir -p firmware
          cp .pio/build/compile/firmware.bin firmware/firmware.bin
          ls firmware/firmware.bin
      - name: Set release date
        run: echo "RELEASE_DATE=$(date +'%Y-%m-%d_%H-%M-%S')" >> $GITHUB_ENV

      - name: Create GitHub release
        id: create-new-release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ env.RELEASE_DATE }}
          release_name: ${{ env.RELEASE_DATE }}
      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create-new-release.outputs.upload_url }}
          asset_path: firmware/firmware.bin
          asset_name: site-v${{ github.run_number }}.bin
          asset_content_type: application/octet

